@import 'lib/normalize.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
    box-sizing:border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 4.5rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 14rem;
    row-gap: 16rem;
    background-color: rgb(219, 121, 86);
    overflow: hidden;
}

.deck {
    min-height: 35rem;
}

.deck__container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.deck__container--active {
    z-index: 10;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    height: 35rem;
    font-size: 1.6rem;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 15rem repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    color: #505050;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 5px 1rem rgba(1, 1, 1, 0.2);
    transition-property: width, left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 3px;
}

.card__title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
} 

.card__img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.card__img img {
    max-width: 100%;
    display: block;
    object-fit: contain;
}

.card__subtitle {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    font-size: 2rem;
}

.card__descr {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
}

.card--1 {
    z-index: 3;
    background-color: rgb(255, 253, 244);
}

.card--2 {
    z-index: 2;
    background-color: rgb(255 252 233);
}

.card--3 {
    z-index: 1;
    background-color: rgb(249 232 197);
}